.state {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(237, 17%, 21%);
    height: 420px;
    width: 100%;
    margin: 100px 0;
    border-radius: 0 200px 0 200px;
    background-image: url(../../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.state-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

.state .info {
    width: 520px;
}

.state .title {
    font-size: 35px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.state .description {
    color: hsla(0, 0%, 100%, 80%);
    line-height: 25px;
}

@media(max-width:1500px) {
    .state-content {
        width: 80vw;
    }
}

@media(max-width:1200px) {
    .state-content {
        width: 90vw;
    }

    .state img,
    .state .info {
        width: 450px;
    }
}

@media(max-width:800px){
    .state {
        height: 600px;
        background-position: 50% 125%;
        padding: 0 0 200px;
        margin: 150px 0 100px;
    }

    .state-content {
        flex-direction: column;
        text-align: center;
    }

    .state img{
        width: 400px;
    }
}

@media(max-width:500px){
    .state {
        border-radius: 0 100px 0 100px;
    }

    .state .info {
        width: 300px;
    }

    .state img{
        width: 300px;
    }
}