.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

.about .info, .about-content img{
    width: 550px;
}

.about .title{
    color: hsl(208, 49%, 24%);
    margin-bottom: 20px;
    font-size: 30px;
}

.about .description{
    color: hsla(208, 49%, 24%, 80%);
    margin-bottom: 30px;
    line-height: 30px;
}