.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: -20% 50%;
    padding: 200px 0;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80vw;
}

.about .info{
    width: 520px;
}

.about .title{
    color: hsl(208, 49%, 24%);
    margin-bottom: 20px;
    font-size: 30px;
}

.about .description{
    color: hsla(208, 49%, 24%, 80%);
    margin-bottom: 30px;
    line-height: 30px;
}